---
interface Props {
    name: string,
    description: string,
    cuisine: string,
    slug: string
}

const { name, description, cuisine , slug} = Astro.props;
console.log('slug', slug)
console.log('Astro.props', Astro.props)
---

<a href={`/recipes/${slug}`}>
    <div class="card">
        <h3>{name}</h3>
        <p>{description}</p>
        <p><strong class="strong">Cuisine:</strong> {cuisine}</p>
    </div>
</a>


<style>
    .card {
        border: 1px solid white;
        border-radius: 15px;
        padding: 15px;
    }

    .strong {
        color: #9853ED;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration:none; 
        cursor:pointer;  
}
</style>
